#products1 {
    background: radial-gradient(#FFF, #BBB);
    padding: 50px;
    border: 2px solid #999;
    box-shadow: 0 0 10px #555;
}
#products1 h2 {
    margin: 0;
    text-align: left;
}
#products1 #toggle {
    float: right;
}
#products1 #toggle label {
    margin: 0 5px;
}
#products1 #toggle select {
    padding: 5px;
    border-radius: 5px;
    outline: none;
}
#products1 #product-row {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}
#products1 #product-row .product {
    flex: 25%;
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: left;
    cursor: pointer;
    opacity: 1;
    display: flex;
}
#products1 #product-row .product.hide {
    display: none;
}
#products1 #product-row .product.expand {
    flex: 100%;
    background: #FFF;
    box-shadow: 0 0 5px 2px inset #222;
}
#products1 #product-row .product.expand .content p {
    display: block;
}
#products1 #product-row .product.expand .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 5px outset #F00;
    border-radius: 0;
}
#products1 #product-row .product .img {
    flex: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: center;
    padding: 10px;
    object-fit: contain;
}
#products1 #product-row .product .img img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #000;
    box-sizing: border-box;
}
#products1 #product-row .product .content {
    flex: 80%;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
#products1 #product-row .product .content p {
    display: none;
}
#products1 #product-row .product .content a {
    color: #F00;
    position: absolute;
    bottom: 0;
    right: 10px;
}
#products1 #product-row .product .content a:hover {
    color: #555;
}
#products1 #catalogue {
    margin: 0 auto;
    width: auto;
    display: block;
    padding: 10px 20px;
}
#products2 {
    display: none;
}
#products2 #container {
    background: linear-gradient(#FFF, #AAA);
    display: flex;
    position: relative;
    height: 80vh;
}
#products2 #toggle {
    float: left;
    display: block;
    margin: 50px 200px;
}
#products2 #toggle a {
    width: max-content;
    display: block;
    padding: 20px;
    cursor: pointer;
}
#products2 #toggle a:hover {
    color: #555;
}
#products2 #product-row {
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    padding: 50px;
    box-sizing: border-box;
    overflow-y: scroll;
    background: #DDD;
    box-shadow: 0 0 5px inset #000;
}
#products2 #product-row .product {
    flex: 45%;
    flex-grow: 0;
    height: 30vh;
    margin: 2.5%;
    justify-content: space-between;
    box-sizing: border-box;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px #111;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
}
#products2 #product-row .product.hide {
    display: none;
}
#products2 #product-row .product:hover {
    box-shadow: 2px 2px 10px #111;
    transform: translateY(-5px);
}
#products2 #product-row .product .img {
    height: 100%;
    flex: 100%;
}
#products2 #product-row .product .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-right: 1px solid #000;
}
#products2 #product-row .product .content {
    display: none;
    flex: 50%;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow: auto;
}
#products2 #product-row .product .content a {
    color: #F00;
}